<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Budget Detail</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-4 px-4">
        <div class="bg-secondary rounded h-100 p-3 d-flex justify-content-between">
            <div th:if="${param.nolongerdeleatable}" class="alert alert-warning">
                <p th:text="${param.nolongerdeleatable}"></p>
            </div>
            <div th:if="${param.budgetdisabled}" class="alert alert-danger">
                <p th:text="${param.budgetdisabled}"></p>
            </div>
            <div>
                <h4>Budget Details</h4>
            </div>
            <div>
                <a th:if="${buttonEnabled}" th:href="@{/users/budget/update/{budgetID}(budgetID=${budget.id})}" class="btn btn-success">Update</a>
                <a th:if="${buttonEnabled}" th:href="@{/users/budget/delete/{budgetID}(budgetID=${budget.id})}" class="btn btn-danger">Delete</a>
                <a th:if="${enableTransactionButtons}" th:href="@{/users/budget/allocation/{budgetID}(budgetID=${budget.id})}" class="btn btn-success">Allocate</a>
                <a th:if="${enableTransactionButtons}" th:href="@{/users/budget/fund-transfer/{budgetID}(budgetID=${budget.id})}" class="btn btn-success">Transfer</a>
                <a th:if="${budget.isEnabled}" th:href="@{/users/budget/disable/{budgetID}(budgetID=${budget.id})}" class="btn btn-danger">Disable budget</a>
                <a th:if="${!budget.isEnabled}" th:href="@{/users/budget/enable/{budgetID}(budgetID=${budget.id})}" class="btn btn-success">Enable budget</a>
                <a href="/users/budget/list" class="btn btn-success">Go back</a>
            </div>
        </div>
        <br>
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <dl class="row mb-0">
                    <dt class="col-sm-4"><strong>Name: </strong></dt>
                    <dd class="col-sm-8" th:text="${budget.name}"></dd>
                    <dt class="col-sm-4">Description: </dt>
                    <dd class="col-sm-8" th:text="${budget.description}"></dd>
                    <dt class="col-sm-4">Creation Time: </dt>
                    <dd class="col-sm-8" th:text="${#temporals.format(budget.creationTime , 'MMMM-dd-yyyy hh:mm:a')}"></dd>
                    <dt class="col-sm-4">Balance: </dt>
                    <dd class="col-sm-8" th:text="${budget.balance}"></dd>
                    <dt class="col-sm-4">Status: </dt>
                    <dd class="col-sm-8" th:text="${budget.isEnabled?'Active':'Inactive'}"></dd>
                </dl>
            </div>

        </div>

    </section>
</main>

</body>
</html>

