<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Delete Budget</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <div class="alert alert-danger">
                <h2 th:text="${'Are you sure you want to disable ' + budget.name + '? '}"></h2>

                <form role="form" method="post" th:action="@{/users/budget/disable/{budgetID}(budgetID=${budget.id})}" th:object="${passwordForm}">
                    <div class="form-group">
                        <p th:if="${passwordError}" th:text="${passwordError}" class="alert alert-danger"></p>
                        <label for="password">Password</label>
                        <input
                                class="form-control"
                                id="password"
                                placeholder="Enter password"
                                name="password"
                                type="password"
                                th:field="*{password}"
                        />
                        <p th:if="${#fields.hasErrors('password')}"
                           th:text="${#strings.listJoin(#fields.errors('password'), ', ')}" class="text-danger"></p>
                        <small id="contentHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <button type="submit" class="btn btn-danger">Disable Budget</button>
                </form>
                <a th:href="@{/users/budget/{budgetID}(budgetID=${budget.id})}" class="alert alert-success">No</a>
            </div>
        </div>
    </section>
</main>

</body>
</html>