<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout-chart}"
>
<head>
    <meta charset="UTF-8">
    <title>Transfer History</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->

    <section layout:fragment="body-chart" class="py-4 px-4">
        <div class="bg-secondary rounded h-100 p-3 d-flex justify-content-between">
            <h4 class="center-text">Budget Transfer History</h4>
            <div>
                <button onclick="exp()" class="btn btn-primary">Download Excel</button>
                <a href="/users/budget/list" class="btn btn-success">Go back</a>
            </div>
        </div>

        <br>
        <div class="bg-secondary rounded h-100 p-4 ">
            <div class="col-12 d-flex justify-content-between">
                <h4 th:text="${#strings.toUpperCase(budget.name)}"></h4>

                <div class="btn-group" role="group">
                    <input type="radio" class="btn-check" name="btnradio" id="outgoing-btn" autocomplete="off"
                           checked>
                    <label class="btn btn-outline-primary" for="outgoing-btn">Outgoing</label>

                    <input type="radio" class="btn-check" name="btnradio" id="incoming-btn" autocomplete="off">
                    <label class="btn btn-outline-primary" for="incoming-btn">Incoming</label>
                </div>
            </div>
            <hr>
            <div id="outgoing-div">
                <h4>Transferred Budget</h4>

                <label>Interval</label>
                <select name="outgoing-select" id="outgoing-select-interval"></select>
                <br>
                <label for="recipient-budget-select">Recipient</label>
                <select name="recipient-budget-select" id="recipient-budget-select"></select>
                <div id="recipient-table-div">

                </div>
            </div>
            <div id="incoming-div">
                <h4>Received Budgets</h4>

                <label>Interval</label>
                <select name="incoming-select" id="incoming-select-interval"></select>
                <br>
                <label for="recipient-budget-select">Sender</label>
                <select name="sender-budget-select" id="sender-budget-select"></select>
                <div id="sender-table-div">

                </div>
            </div>
        </div>
        <div class="col-12">
            <div id="myModal" class="modal">
                <div class="modal-content bg-secondary">
                    <span class="close">&times;</span>
                    <div class="my-container">
                        <div class="card-header">
                            <h5 class="card-title">Budget Transfer Detail</h5>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col-sm-3"><strong>Description</strong></dt>
                                    <dd class="col-sm-9" id="description-data"></dd>
                                    <dt class="col-sm-3"><strong>Amount</strong></dt>
                                    <dd class="col-sm-9" id="amount-data"></dd>
                                    <dt class="col-sm-3"><strong>From</strong></dt>
                                    <dd class="col-sm-9" id="sender-data"></dd>
                                    <dt class="col-sm-3"><strong>To</strong></dt>
                                    <dd class="col-sm-9" id="recipient-data"></dd>
                                    <dt class="col-sm-3"><strong>Date</strong></dt>
                                    <dd class="col-sm-9" id="date-data"></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css"/>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
        <script th:src="@{/js/ui.js}"></script>
        <script th:src="@{/js/modal.js}"></script>
        <script th:src="@{/js/api.js}"></script>
        <script th:inline="javascript">
            const budget_received_from = /*[[${receivedFromAPI}]]*/;
            const budget_transferred_to = /*[[${transferredToAPI}]]*/;
            const budget_api = "/users/api/budget/list";
            const budgetID = /*[[${budget.id}]]*/;
            // a list of a subset of the transfer history where the current budget received a fund from other budgets
            let sender_budgets = [];
            // a list of a subset of the transfer historu where the current budget sent a fund to another budget
            let recipient_budgets = [];
            let budgets = [];
            let budget_names = {};

            let isOnOutgoing = true;
            let outgoingInterval = 0;
            let incomingInterval = 0;
            // function $(e){
            //     return document.getElementById(e);
            // }
            function updateModalContent(row_data){
                const {description, amount, senderBudget, recipientBudget, creationTime} = row_data;
                console.log(row_data);
                $('#description-data')[0].textContent = description;
                $('#amount-data')[0].textContent = amount;
                $('#sender-data')[0].textContent = senderBudget;
                $('#recipient-data')[0].textContent = recipientBudget;
                $('#date-data')[0].textContent = creationTime;
            }
            // initialize all the budgets that sent fund to the current budget
            async function init_sender_budgets(interval=7) {
                incomingInterval = interval;
                const{data, status} = await get_data(`${budget_received_from}?interval=${interval}`);
                sender_budgets = preProcessData(data);
                console.log(data);
                console.log(sender_budgets);
                // $('total-received').textContent = sender_budgets.reduce((total, fah)=>total+fah.amount,0);
            }

            async function init_recipient_budgets(interval=7) {
                outgoingInterval = interval;
                const{data, status} = await get_data(`${budget_transferred_to}?interval=${interval}`);
                recipient_budgets = preProcessData(data);
                console.log(data);
                console.log(recipient_budgets);
                // $('total-transferred').textContent = recipient_budgets.reduce((total, fah)=>total+fah.amount,0);
            }

            async function init_data(){
                const {data:budget_data, status:budget_status} = await get_data(budget_api);
                budgets = budget_data;
                budgets.forEach(f => {
                    budget_names[f.id] = f.name;
                });

                console.log(budget_names);

                await init_recipient_budgets();
                await init_sender_budgets();

                recipient_budgets.sort((a, b) => {
                    let da = new Date(a.creationTime), db = new Date(b.creationTime);
                    return da - db;
                });

                sender_budgets.sort((a, b) => {
                    let da = new Date(a.creationTime), db = new Date(b.creationTime);
                    return da - db;
                })

                let interval_obj = {7:"1 week", 14:"2 weeks", 30:"1 month", 90:"3 months", 180:"6 months"};
                // remove the current budget on the list of options
                let possibleBudgetsOption = {...budget_names}
                console.log(budget_names[budgetID]);
                delete possibleBudgetsOption[parseInt(budgetID)];
                populateSelectControl($('#outgoing-select-interval')[0] ,interval_obj, () => {let interval = $('#outgoing-select-interval')[0].value;init_recipient_budgets(interval);});
                populateSelectControl($('#incoming-select-interval')[0], interval_obj, () => {let interval = $('#incoming-select-interval')[0].value;init_sender_budgets(interval);});
                populateSelectControl($('#recipient-budget-select')[0], possibleBudgetsOption, filterRecipientBudgets);
                populateSelectControl($('#sender-budget-select')[0], possibleBudgetsOption, filterSenderBudgets);
                // populateSelectControl($('recipient-budget-select'), budget_names, ()=>{});
                // populateSelectControl($('sender-budget-select'), budget_names, ()=>{});


                // upon load only display the outgoing-div
                $('#outgoing-div')[0].style.display = "block";
                $('#incoming-div')[0].style.display = "none";
            }

            const populateSelectControl = (select_object, key_value_dict, func) => {
                select_object.onchange = func
                // add an option to select all
                let all_option = document.createElement("OPTION");
                all_option.text = "ALL";
                all_option.value = -1;
                select_object.add(all_option);
                // generate options
                let keys = Object.keys(key_value_dict);
                keys.forEach((key) => {
                    let new_option = document.createElement("OPTION");
                    new_option.text = key_value_dict[key];
                    new_option.value = key;
                    // add the option to the select object
                    select_object.add(new_option);
                });
            }

            // process the raw data, such that the recipient and sender fund will be a named instead of the fund id
            // and the timestamp is converted into a more readble format e.g. 12/03/2022 19:00+8:00 to Decemeber 3, 2022 7:00PM
            function preProcessData(raw_data){
                return raw_data.map((fah, index)=>{
                    // create a copy of the object
                    let new_fah = {};
                    // change the sender and recipient fun into its name
                    new_fah.senderBudget = budget_names[fah.senderBudgetID];
                    new_fah.recipientBudget = budget_names[fah.recipientBudgetID];
                    // convert the timestamp into a more readable format
                    new_fah.creationTime = processDateStr(fah.creationTime);
                    new_fah.description = fah.description;
                    new_fah.amount = fah.amount;
                    new_fah.id = fah.id;
                    return new_fah;
                })
            }

            // shorten the description into just 30 characters
            function normalizeDescription(raw_data, len){
                return raw_data.map((fah, i)=>{
                    let new_fah = {...fah}
                    if(new_fah.description != null && new_fah.description.length > len){
                        new_fah.description = `${new_fah.description.slice(0, len-2)}...`
                    }
                    return new_fah;
                });
            }
            const filterSenderBudgets = () =>{
                let selectedIndex = $('#sender-budget-select')[0].value;
                if(selectedIndex == -1){
                    // display all
                    displayTable(sender_budgets, $('#sender-table-div')[0]);
                    return;
                }
                let selectedBudget = budget_names[selectedIndex];
                let filtered_data = sender_budgets.filter((obj)=>obj['senderBudget']==selectedBudget);
                displayTable(filtered_data, $('#sender-table-div')[0], sender_row_selection_func);
                console.log({filtered_data});
            }

            const filterRecipientBudgets = () =>{
                let selectedIndex = $('#recipient-budget-select')[0].value;
                if(selectedIndex == -1){
                    // display all
                    displayTable(recipient_budgets, $('#recipient-table-div')[0]);
                    return;
                }
                let selectedBudget = budget_names[selectedIndex];
                let filtered_data = recipient_budgets.filter((obj)=>obj['recipientBudget']==selectedBudget);
                displayTable(filtered_data, $('#recipient-table-div')[0], recipient_row_selection_func);
                console.log({filtered_data});
            }

            function displayTable(raw_data, table_div, row_selection_func){
                let table_data = normalizeDescription(raw_data, 30);
                table_div.innerHTML="";
                if(table_data.length > 0){
                    let table = createTable(table_data, ['description', 'amount', 'senderBudget', 'recipientBudget', 'creationTime'], row_selection_func, 'table table-striped', ['Description', 'Amount', 'From', 'To', 'Date']);
                    table.setAttribute('id', 'tbl_exporttable_to_xls');
                    table_div.appendChild(table);
                    $(document).ready( function () {
                        $('#tbl_exporttable_to_xls').DataTable();
                    });
                }
            }

            function getSelectedRecipientBudget() {
                let selectedIndex = $('#recipient-budget-select')[0].value;
                return budget_names[selectedIndex];
            }

            function getSelectedSenderBudget() {
                let selectedIndex = $('#sender-budget-select')[0].value;
                return budget_names[selectedIndex];
            }

            function getCurrentBudget() {
                return budget_names[budgetID];
            }

            const sender_row_selection_func = (e) =>{
                console.log(e.srcElement.parentNode.id);
                    openModal();
                    updateModalContent(sender_budgets.filter(budget => budget.id == e.srcElement.parentNode.id)[0]);
            }
            const recipient_row_selection_func = (e) =>{
                console.log(e.srcElement.parentNode.id);
                    openModal();
                    updateModalContent(recipient_budgets.filter(budget => budget.id == e.srcElement.parentNode.id)[0]);
            }
            init_data();

            $('#outgoing-btn')[0].onclick = () => {
                $('#outgoing-div')[0].style.display = "block";
                $('#incoming-div')[0].style.display = "none";
                isOnOutgoing = true;
            }

            $('#incoming-btn')[0].onclick = () => {
                $('#outgoing-div')[0].style.display = "none";
                $('#incoming-div')[0].style.display = "block";
                isOnOutgoing = false;
            }

            const export_to_excel = (type, fn, dl) => {
                var elt = document.getElementById('tbl_exporttable_to_xls');
                var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
                let start;
                let end = new Date();
                let file_name = "";
                if(isOnOutgoing) {
                    start = new Date();
                    start.setDate(end.getDate() - outgoingInterval);
                    // date.setDate(day);
                    file_name = `${getCurrentBudget()} to ${getSelectedRecipientBudget()}: ${start} - ${end}`;
                } else {
                    start = new Date();
                    start.setDate(end.getDate() - incomingInterval);
                    file_name = `${getSelectedSenderBudget()} to ${getCurrentBudget()}: ${start} - ${end}`;
                }
                return dl ?
                    XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
                    XLSX.writeFile(wb, fn || (file_name + '.' + (type || 'xlsx')));
            }

            const exp = () => {export_to_excel('xlsx'); console.log("export clicked");};


        </script>
    </section>
</main>

</body>
</html>