<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Add Income</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-4 px-4">
        <div th:if="${errorMessage}" class="alert alert-primary alert-dismissible fade show col-12" role="alert">
            <i class="fa fa-exclamation-circle me-2"></i>
            <p th:text="${errorMessage}"></p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <br>
        <div class="bg-secondary rounded h-100 p-3 d-flex justify-content-between">
            <h4>Create Income</h4>
            <div>
                <a th:href="@{/users/income/list}" class="btn btn-success mx-1">Back</a>
                <button type="submit" form="incomeForm" class="btn btn-primary mx-1">Add</button>
            </div>
        </div>
        <br>
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <form id="incomeForm" role="form" method="post" th:action="@{/users/income/create}" th:object="${incomeForm}">
                    <div class="form-group">
                        <p class="alert alert-danger" th:if="${sourceError}" th:text="${sourceError}"></p>
                        <label for="source" class="form-label">Source</label>
                        <input type="text" class="form-control" id="source" name="source" th:field="*{source}" required>
                        <p class="text-danger" th:if="${#fields.hasErrors('source')}" th:errors="*{source}"></p>
                    </div>
                    <div class="form-group">
                        <p class="alert alert-danger" th:if="${descriptionError}" th:text="${descriptionError}"></p>
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description" th:field="*{description}" required></textarea>
                        <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                    </div>
                    <div class="form-group ">
                        <label>Select Income type</label>
                        <select class="form-select" th:field="*{incomeTypeID}" id="incometype" name="income-type" aria-label=".form-select-sm example">
                            <option th:each="incomeType:${incomeTypes}" th:value="${incomeType.id}" th:text="${incomeType.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="number" min="1" step="0.01" class="form-control" id="amount" placeholder="Enter Amount" name="amount" th:field="*{amount}">
                        <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="text-danger"></p>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </section>
</main>
</body>
</html>
