<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Income List</title>
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->

    <section layout:fragment="body" class="py-4 px-4">
        <div class="bg-secondary rounded h-100 p-3 d-flex justify-content-between">
            <h4>List of Incomes</h4>
            <div>
                <a th:href="@{/users/income/create}" class="btn btn-success">Add Income</a>
            </div>
        </div>
        <br>
        <div class="col-sm-6 col-xl-2">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-3">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-2">
                    <p class="mb-2">Total Amount</p>
                    <h6 class="mb-0"  th:text="${totalAmount}"></h6>
                </div>
            </div>
        </div>
        <br>
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-3">
                <div class="table-responsive">
                    <table class="table table-hover" id="income-table">
                        <thead>
                        <tr>
                            <th><h6><strong>Description</strong></h6></th>
                            <th><h6><strong>Category</strong></h6></th>
                            <th><h6><strong>Amount</strong></h6></th>
                            <th><h6><strong>Source</strong></h6></th>
                            <th><h6><strong>Date Recorded</strong></h6></th>
                            <th class="text-center"><h6><strong>Action</strong></h6></th> <!-- Header for the action column -->
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="income : ${userIncome}">
                            <td th:text="${income.description.length <= 30 ? income.description : income.description.substring(0, 30) + '...'}"></td>
                            <td th:text="${income.incomeType.name}"></td>
                            <td th:text="${income.amount}"></td>
                            <td th:text="${income.source.length <= 20 ? income.source : income.source.substring(0, 20) + '...'}"></td>
                            <td th:text="${income.creationTime}"></td>
                            <td class="text-center"><a th:href="@{/users/income/{incomeID}(incomeID=${income.id})}" class="btn btn-primary btn-sm">Details</a>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
                <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
                <script th:inline="javascript">
            $(document).ready( function () {
               $('#income-table').DataTable();
            });
        </script>

            </div>
        </div>
    </section>
</main>
</body>

</html>
