<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>IncomeType</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-4 px-4">
        <div th:if="${param.failedtosave}" class="alert alert-primary alert-dismissible fade show col-12" role="alert">
            <i class="fa fa-exclamation-circle me-2" th:text="${' Failed to save. Please Try again'}"></i>
            <p th:text="${param.failedtosave}"></p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <br>
        <div class="bg-secondary rounded h-100 p-3 d-flex justify-content-between">
            <h4>Create Income Types</h4>
            <div>
                <a th:href="@{/users/income-type/list}" class="btn btn-success mx-1">Back</a>
                <button type="submit" form="incomeTypeForm" class="btn btn-primary mx-1">Add</button>
            </div>
        </div>
        <br>
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <form id="incomeTypeForm" role="form" method="post" th:action="@{/users/income-type/create}" th:object="${incomeTypeForm}">
                    <div class="form-group">
                        <p class="alert alert-danger" th:if="${nameError}" th:text="${nameError}"></p>
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" th:field="*{name}" required>
                        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                    </div>
                    <div class="form-group">
                        <p class="alert alert-danger" th:if="${descriptionError}" th:text="${descriptionError}"></p>
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description" th:field="*{description}" required></textarea>
                        <p class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
</body>
</html>
