<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
  <title>Income Type Details</title>
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <!-- Page Content-->
  <section layout:fragment="body" class="py-4 px-4">
    <div class="bg-secondary rounded h-100 p-3 d-flex justify-content-between">
      <div>
        <h4>Income Type Details</h4>
      </div>
      <div>
        <a th:if="${isButtonEnabled}" th:href="@{/users/income-type/update/{id}(id=${incomeType.id})}" class="btn btn-success mx-0.5">Update</a>
        <a th:if="${isButtonEnabled}" th:href="@{/users/income-type/delete/{id}(id=${incomeType.id})}" class="btn btn-danger mx-0.5">Delete</a>
        <a th:href="@{/users/income-type/list}" class="btn btn-success mx-0.5">Back</a>
      </div>
    </div>
    <br>
    <div class="col-12">
      <div class="bg-secondary rounded h-100 p-4">
        <dl class="row mb-0">
          <dt class="col-sm-4"><strong>Name:</strong></dt>
          <dd class="col-sm-8" th:text="${incomeType.name}"></dd>
          <dt class="col-sm-4">Date and Time of Creation</dt>
          <dd class="col-sm-8" th:text="${incomeType.creationTime}"></dd>
          <dt class="col-sm-4">Description:</dt>
          <dd class="col-sm-8" th:text="${incomeType.description}"></dd>
        </dl>
      </div>
    </div>
  </section>
</main>
</body>

</html>
