<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Income Type List</title>
</head>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-4 px-4 ">
        <div th:if="${param.NoSuchEntityOrNotAuthorized}" class="alert alert-primary alert-dismissible fade show col-12" role="alert">
            <p th:text="${param.NoSuchEntityOrNotAuthorized}"></p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <br>
        <div class="bg-secondary rounded h-100 p-3 d-flex justify-content-between">
            <h4>List of Income Types</h4>
            <div>
                <a th:href="@{/users/income-type/create}" class="btn btn-success">Add Income Type</a>
            </div>
        </div>
        <br>
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-3 ">
                <div class="table-responsive">
                    <table class="table table-hover" id="income-type-table">
                        <thead>
                            <tr>
                                <th><h6><strong>Name</strong></h6></th>
                                <th><h6><strong>Description</strong></h6></th>
                                <th class="text-center"><h6><strong>Action</strong></h6></th> <!-- Header for the action column -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="incomeType : ${incomeTypeList}">
                                <td th:if="${incomeType.name.length<= 20}" th:text="${incomeType.name}" class="ml-4"></td>
                                <td th:if="${incomeType.name.length> 20}" th:text="${incomeType.name.substring(0, 20) + '...'}" class="ml-4"></td>
                                <td th:if="${incomeType.description.length<= 30}" th:text="${incomeType.description}"></td>
                                <td th:if="${incomeType.description.length > 30}" th:text="${incomeType.description.substring(0, 30) + '...'}"></td>
                                <td class="text-center"><a th:href="@{/users/income-type/{incomeTypeID}(incomeTypeID=${incomeType.id})}" class="btn btn-primary btn-sm">Details</a></td> <!-- Details button -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
                <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
                <script th:inline="javascript">
                    $(document).ready( function () {
                       $('#income-type-table').DataTable();
                    });
                </script>

            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </section>
</main>
</body>
</html>
