<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Expense List</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <!-- Page Content-->
  <section layout:fragment="body" class="py-5">
    <div class="container">
      <div th:if="${param.failedtosave}" class="alert alert-danger">
        <p th:text="${param.failedtosave}"></p>
      </div>
      <div th:if="${param.savesuccess}" class="alert alert-success">
        <p th:text="${param.savesuccess}"></p>
      </div>
      <h1>Expense List</h1>
      <div>
        <form role="form" th:action="@{/users/expense/list}" method="GET">
          <span>date</span>
          <input type="date" name="specific-date" id="specific-expense-date">
          <button type="submit" id="submit" class="btn btn-primary">submit</button>
        </form>
        <h3 th:text="${entryDate}"></h3>
      </div>
      <table class="table table-striped" id="expense-table">
        <thead>
          <tr>
            <th>Description</th>
            <th>Category</th>
            <th>Price</th>
            <th>Budget</th>
            <th>Date Recorded</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="expense:${userExpense}">
            <td th:if="${expense.description.length<= 30}"><a th:href="@{/users/expense/{expenseID}(expenseID=${expense.id})}" th:text="${expense.description}"></a></td>
            <td th:if="${expense.description.length > 30}"><a th:href="@{/users/expense/{expenseID}(expenseID=${expense.id})}"  th:text="${expense.description.substring(0, 30) + '...'}"></a></td>
            <td th:text="${expense.expenseType.name}"></td>
            <td th:text="${expense.price}"></td>
            <td th:text="${expense.budget.name}"></td>
            <td th:text="${#temporals.format(expense.creationTime , 'MMMM-dd-yyyy hh:mm:a')}"></td>
          </tr>
        </tbody>
      </table>
      <p><b>Total Amount: </b><span th:text="${totalExpense}"></span></p>
      <a th:href="@{/users/expense/create}" class="btn btn-success">Add Expense</a>
    </div>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script th:inline="javascript">
            $(document).ready( function () {
               $('#expense-table').DataTable();
            });
            $(function(){
                var dtToday = new Date();

                let month = dtToday.getMonth() + 1;
                let day = dtToday.getDate();
                let year = dtToday.getFullYear();
                if(month < 10)
                    month = '0' + month.toString();
                if(day < 10)
                    day = '0' + day.toString();

                let maxDate = year + '-' + month + '-' + day;
                $('#specific-expense-date').attr('max', maxDate);
            });
        </script>
  </section>
</main>
</body>
</html>