<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Expense Type Details</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <!-- Page Content-->

  <section layout:fragment="body" class="py-4 px-4">
    <div class="bg-secondary rounded h-100 p-3 d-flex justify-content-between">
      <div>
        <h4>Expense Type Details</h4>
      </div>
      <div>
        <a th:if="${buttonEnabled}" th:href="@{/users/expense-type/update/{expenseTypeId}(expenseTypeId=${expenseType.id})}" class="btn btn-success mx-0.5">Update</a>
        <a th:if="${buttonEnabled}" th:href="@{/users/expense-type/delete/{expenseTypeId}(expenseTypeId=${expenseType.id})}" class="btn btn-success mx-0.5">Delete</a>
        <a th:href="@{/users/expense-type/list}" class="btn btn-success mx-0.5">Back</a>
      </div>
    </div>
    <br>
    <div class="col-12">
      <div class="bg-secondary rounded h-100 p-4">
        <dl class="row mb-0">
          <dt class="col-sm-4"><strong>Name:</strong></dt>
          <dd class="col-sm-8" th:text="${expenseType.name}"></dd>
          <dt class="col-sm-4">Date and Time of Creation</dt>
          <dd class="col-sm-8" th:text="${#temporals.format(expenseType.creationTime , 'MMMM-dd-yyyy hh:mm:a')}"></dd>
          <dt class="col-sm-4">Description:</dt>
          <dd class="col-sm-8" th:text="${expenseType.description}"></dd>
        </dl>
      </div>
    </div>

  </section>
</main>
</body>
</html>