<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
  <meta charset="UTF-8">
  <title>User Registration</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <!-- Page Content-->
  <section layout:fragment="body" class="py-5">
    <div class="container">
      <div th:if="${param.budgetsavesuccess}" class="alert alert-success">
        <p th:text="${param.budgetsavesuccess}"></p>
      </div>
      <h1 th:text="${user}">Welcome: </h1>
      <h2 th:text="${walletBalance}"></h2>
      <a th:href="@{/users/budget/list}">budget list</a>
      <a th:href="@{/users/income/list}">income list</a>
      <a th:href="@{/users/expense/list}">Expense list</a>
      <a th:href="@{/users/expense-type/list}">Expense type</a>
      <a th:href="@{/users/income-type/create}">income-type </a>
    </div>

  </section>
</main>
<!-- Footer-->

</body>
</html>