<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Income Type List</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <!-- Page Content-->
  <section layout:fragment="body" class="py-5">
    <div class="container">
      <h1>Income Type Details</h1>

      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <td th:text="${incomeType.name}"></td>
        </tr>
        <tr>
          <th>Description</th>
          <td th:text="${incomeType.description}"></td>
        </tr>
      </table>

      <a th:href="@{/users/income-type/edit/{incomeTypeID}(incomeTypeID=${incomeType.id})}">Edit Income Type</a>
      <a th:href="@{/users/income-type/delete/{incomeTypeID}(incomeTypeID=${incomeType.id})}" onclick="return confirm('Are you sure you want to delete this income type?')">Delete Income Type</a>
      <a th:href="@{/users/income-type/list}">Back to Income Type List</a>
    </div>
  </section>
</main>
</body>
</html>
