<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
  <meta charset="UTF-8">
  <title>User Registration</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
  <!-- Page Content-->
  <section layout:fragment="body" class="py-5">
    <div class="container">
      <div th:if="${param.error}" class="alert alert-success">
          <p>Invalid Password or Username</p>
      </div>
      <div th:if="${param.logout}" class="alert alert-success">
        <p>You have been logged out</p>
      </div>

      <div th:if="${param.emailnotsent}" class="alert alert-success">
        <p th:text="${param.emailnotsent}"></p>
      </div>
      <div th:if="${param.activationsuccess}" class="alert alert-success">
        <p th:text="${param.activationsuccess}"></p>
      </div>
      <div th:if="${param.requestverification}" class="alert alert-success">
        <p>Verification link has been sent successfully</p>
      </div>
      <div th:if="${param.resetpassword}" class="alert alert-success">
        <p>Reset Password link has been successfully sent</p>
      </div>
      <div th:if="${param.resetpasswordsuccess}" class="alert alert-success">
        <p th:text="${param.resetpasswordsuccess}"></p>
      </div>
      <form role="form" method="post" th:action="@{/login}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <div class="form-group">
          <label for="username">Username</label>
          <input
                  type="text"
                  class="form-control"
                  id="username"
                  aria-describedby="usernameHelp"
                  placeholder="Enter Username"
                  name="username"
          >
          <small id="userHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
                  type="password"
                  class="form-control"
                  id="password"
                  aria-describedby="passwordHelp"
                  placeholder="Enter Password"
                  name="password"
          >
          <small id="photoUrlHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <button type="submit" value="Log in" class="btn btn-primary">Login</button>
      </form>
      <a th:href="@{/request-verification}">Request Verification</a><br>
      <a th:href="@{/password-reset}">Request Password Reset</a>
    </div>
  </section>
</main>
<!-- Footer-->

</body>
</html>