<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <div th:if="${param.fail}" class="alert alert-success">
                <p>Username or Email already exits</p>
            </div>
            <div th:if="${param.password_error}" class="alert alert-success">
                <p>Password must match</p>
            </div>
            <div th:if="${param.usernamealreadyused}" class="alert alert-success">
                <p th:text="${param.usernamealreadyused}"></p>
            </div>
<!--            <div th:if="${#fields.hasErrors('usernameEmailError')}">-->
<!--                <h3>Global errors:</h3>-->
<!--                <p th:each="err : ${#fields.errors('usernameEmailError')}" th:text="${err}" class="error" />-->
<!--            </div>-->
            <form role="form" method="post" th:action="@{/register}" th:object="${registrationForm}">
                <div class="form-group">
                    <p th:if="${usernameError}" th:text="${usernameError}" class="alert alert-danger"></p>
                    <label for="username">Username</label>
                    <input
                            type="text"
                            class="form-control"
                            id="username"
                            aria-describedby="usernameHelp"
                            placeholder="Enter Username"
                            name="username"
                            th:field="*{username}"
                    >
<!--                    <p th:if="${#fields.hasErrors('username')}"-->
<!--                       th:text="${#strings.listJoin(#fields.errors('username'), ', ')}" class="text-danger"></p>-->
                    <p th:if="${#fields.hasErrors('username')}"
                       th:errorss="*{username}" class="text-danger"></p>
<!--                    <p th:if="${#fields.hasErrors('username')}" class="text-danger"></p>-->
                    <small id="userHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <p th:if="${emailError}" th:text="${emailError}" class="alert alert-danger"></p>
                    <label for="email">Email</label>
                    <input
                            class="form-control"
                            rows="3"
                            id="email"
                            placeholder="Enter Email"
                            name="email"
                            type="email"
                            th:field="*{email}"
                    ></input>
                    <p th:if="${#fields.hasErrors('email')}"
                       th:text="${#strings.listJoin(#fields.errors('email'), ', ')}" class="text-danger"></p>
                    <small id="contentHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <p th:if="${passwordError}" th:text="${passwordError}" class="alert alert-danger"></p>
                    <label for="password">Password</label>
                    <input
                            type="password"
                            class="form-control"
                            id="password"
                            aria-describedby="passwordHelp"
                            placeholder="Enter Password"
                            name="password"
                            th:field="*{password}"
                            oninput="validatePassword()"
                    >
                    <p th:if="${#fields.hasErrors('password')}"
                       th:text="${#strings.listJoin(#fields.errors('password'), ', ')}" class="text-danger"></p>
                    <small id="photoUrlHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <div id="password-errors" class="alert alert-danger">
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input
                            type="password"
                            class="form-control"
                            id="confirmPassword"
                            aria-describedby="passwordHelp"
                            placeholder="Enter Confirm Password"
                            name="confirmPassword"
                            th:field="*{confirmPassword}"
                            oninput="validateConfirmPassword()"
                    >
                    <p th:if="${#fields.hasErrors('password')}"
                       th:text="${#strings.listJoin(#fields.errors('confirmPassword'), ', ')}" class="text-danger"></p>
                    <small id="confirmPasswordHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <div id="confirm-password-errors" class="alert alert-danger">
                    </div>
                </div>
                <button type="submit" id="submit" class="btn btn-primary">Sign In</button>
                <a th:href="@{/login}" class="btn btn-secondary">Already have an account? login here?</a>
            </form>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script type="text/javascript">
            console.log("this is bs");
            $("#submit").prop('disabled', true);
            $("#password-errors").hide();
            $("#confirm-password-errors").hide();
            let isPasswordValid = false;
            let isPassword2Valid = false;
            const capital = /[A-Z]/;
            const lower = /[a-z]/;
            const special = /[!@\#?]/;
            function validatePassword() {
                let password = $("#password").val();
                let isLongEnough = password.length >= 8;
                let hasUpper = password.match(capital);
                let hasLower = password.match(lower);
                let hasSpecial = password.match(special);
                let errors = [];
                if(!isLongEnough) {
                    errors.push("must be greater that 8");
                }
                if(!hasUpper) {
                    errors.push("must contain 1 uppercase");
                }
                if(!hasLower) {
                    errors.push("must contain 1 lowercase");
                }
                if(!hasSpecial) {
                    errors.push("must contain 1 special character (!@#?)");
                }
                if(isLongEnough && hasLower && hasUpper && hasSpecial){
                    isPasswordValid = true;
                    $("#password-errors").hide();
                }else{
                    isPasswordValid = false;
                    let errorHTML = "<ul>";
                    for(let i = 0; i < errors.length; i++) {
                        let error = errors[i];
                        errorHTML += `<li>${error}</li>`;
                    }
                    errorHTML += "</ul>"
                    $("#password-errors").html(errorHTML);
                    $("#password-errors").show();
                }
                activateSubmit();
            }
            function validateConfirmPassword() {
                let password = $("#password").val();
                let password2 = $("#confirmPassword").val();
                if(password != password2) {
                    isPassword2Valid = false;
                    $("#confirm-password-errors").show();
                    $("#confirm-password-errors").html("<p>Password must match<p>")
                } else {
                    isPassword2Valid = true;
                    $("#confirm-password-errors").hide();
                }
                activateSubmit();
            }

            function activateSubmit() {
                if(isPasswordValid && isPassword2Valid) {
                    $("#submit").prop('disabled', false);
                } else {
                    $("#submit").prop('disabled', true);
                }
            }
        </script>
    </section>
</main>

</body>
</html>